@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --golden: #b8894b;
}

.divider::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    top: 35px;
    background-color: var(--golden);
}
.divider-left::before {
    content: '';
    position: absolute;
    background-color: var(--golden);
    width: 8px;
    height: 1px;
    left: 0;
    top: 11px;
}
.genHero {
    position: relative;
    clip-path: polygon(0% -66%, 266% 57%, 50% 100%, 0% 90%);
}